.contactoBody {
    background-image: url(../assets/img/fondo-contacto.webp);
    background-position: cover;

    @include header1200;

    #contacto {
        @include displayContacto;

        .titulo-seccion {
            @include tituloContacto(2.8rem);
        }

        .contenedor-form {
            @include form;
            
            input,
            textarea {
                @include inputTextArea;
            }

            .input-mitad {
                @include inputMitadClass(1rem);
            }

            #input-mitad2 {
                margin-left: 20px;
            }

            .input-full {
                @include inputFull(1rem);
            }

            .btn-enviar {
                @include botonContacto(1.2rem);

                &:hover {
                    @include botonHoverContacto;
                }
            }
        }
    }
}

// RESPONSIVE
@media (min-width: $mediaMobile-320) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header320;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(1.2rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 45%;
                    @include inputMitadClass(0.3rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(0.3rem);
                }
    
                .btn-enviar {
                    @include botonContacto(0.6rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaMobile-375) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header375;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(1.4rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 45%;
                    @include inputMitadClass(0.4rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(0.4rem);
                }
    
                .btn-enviar {
                    @include botonContacto(0.8rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaTablet-576) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header576;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(1.6rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 45%;
                    @include inputMitadClass(0.6rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(0.6rem);
                }
    
                .btn-enviar {
                    @include botonContacto(1rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaTablet-768) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header768;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(1.8rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 45%;
                    @include inputMitadClass(0.6rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(0.6rem);
                }
    
                .btn-enviar {
                    @include botonContacto(1rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-992) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header992;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(2.2rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 45%;
                    @include inputMitadClass(0.8rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(0.8rem);
                }
    
                .btn-enviar {
                    @include botonContacto(1.2rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-1200) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header1200;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(2.6rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 49%;
                    @include inputMitadClass(1rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(1rem);
                }
    
                .btn-enviar {
                    @include botonContacto(1.2rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-1400) {
    .contactoBody {
        background-image: url(../assets/img/fondo-contacto.webp);
        background-position: cover;
    
        @include header1200;
    
        #contacto {
            @include displayContacto;
    
            .titulo-seccion {
                @include tituloContacto(3rem);
            }
    
            .contenedor-form {
                @include form;
                
                input,
                textarea {
                    @include inputTextArea;
                }
    
                .input-mitad {
                    width: 49%;
                    @include inputMitadClass(1rem);
                }
    
                #input-mitad2 {
                    margin-left: 20px;
                }
    
                .input-full {
                    @include inputFull(1rem);
                }
    
                .btn-enviar {
                    @include botonContacto(2rem);
    
                    &:hover {
                        @include botonHoverContacto;
                    }
                }
            }
        }
    }
}