.inicio {
    padding-top: 24px;
    grid-area: inicio;
    background-color: $secondary-color;
    height: 100%;

    .contenido-header {
        display: flex;
        justify-content: space-between;
        color: $primary-color;

        h1 {
            font-size: 1.2rem;
            padding-left: 20px;
        }

        #links {
            list-style-type: none;
            display: flex;
            font-size: 1.2rem;
            padding-right: 20px;
            padding-left: 20px;
            text-decoration: none;
        
            a {
                padding-right: 15px;
                color: #fff;
                text-decoration: none;
        
                &:hover {
                    color: $primary-color;
                    text-shadow: 1px 1px 2px #fff;
                }
            }
        }
    }
}

.contactoBody {
    background-image: url(../assets/img/fondo-contacto.jpg);
    background-position: cover;
}

#contacto {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 20% 80%;
    grid-template-areas:
    "titulo"
    "form";
    width: 100%;
    height: 100vh;
    margin: 0;
    align-content: stretch;
    justify-content: stretch;

    .titulo-seccion {
        grid-area: titulo;
        margin-top: 10px;
        margin-bottom: 10px;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 2.8rem;
        font-weight: bolder;
        text-shadow: 2px 2px 3px #ffffff;
        text-transform: uppercase;
        color: $primary-color;
    } 

        .contenedor-form form {
            grid-area: form;
            width: 100%;
            height: 100%;
    
            & input,
            textarea {
                background-color: #ffffffc9;
                padding: 10px;
                border-radius: 20px;
                border: none;
                border: 1px solid $primary-color;
            }

            & .input-mitad {
                font-size: 1rem;
                color: $primary-color;
                text-shadow: 1px 1px 2px #000000;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 49%;
            }

            & #input-mitad2 {
                margin-left: 20px;
            }

            & .input-full{
                font-size: 1rem;
                color: $primary-color;
                text-shadow: 1px 1px 2px #000000;
                margin-top: 20px;
                margin-bottom: 20px;
                width: 100%;
            }

            & .btn-enviar{
                font-size: 1.2rem;
                color: $primary-color;
                border-color: $primary-color;
                text-shadow: 1px 1px 2px #000000;
                display: block;
                margin: auto;
                cursor: pointer;
                transition: .1s;
                padding: 10px 15px;

                &:hover{
                    background-color: $primary-color;
                    color: #fff;
                    border-color: #fff;
                    text-shadow: 2px 2px 3px #000000;
                }
            }
        }
}