.inicio {
    padding-top: 24px;
    grid-area: inicio;
    background-color: $secondary-color;
    height: 100%;

    .contenido-header {
        display: flex;
        justify-content: space-between;
        color: $primary-color;

        h1 {
            font-size: 1.2rem;
            padding-left: 20px;
        }

        #links {
            list-style-type: none;
            display: flex;
            font-size: 1.2rem;
            padding-right: 20px;
            padding-left: 20px;
            text-decoration: none;
        
            a {
                padding-right: 15px;
                color: #fff;
                text-decoration: none;
        
                &:hover {
                    color: $primary-color;
                    text-shadow: 1px 1px 2px #fff;
                }
            }
        }
    }
}

.portfolioBody {
    background-image: url(../assets/img/developer.jpg);
    background-position: cover;
}

#portfolio {
    display: grid;
    grid-template-columns: repeat(3 1fr);
    grid-template-rows: 20% 80% 20%;
    grid-template-areas: 
    "h3 h3 h3"
    "fila fila fila"
    ". . .";
    width: 100%;
    height: 100vh;
    margin: 0;
    align-content: stretch;
    justify-content: stretch;

    & .titulo-seccion {
        grid-area: h3;
        color: $primary-color;
        font-size: 2.8rem;
        font-weight: bolder;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        text-shadow: 2px 2px 3px #ffffff;
    }

    & .fila {
        grid-area: fila;
        display: flex;
        padding-left: 50px;

        & .proyecto{
            display: inline-block;
            position: relative;
            overflow: hidden;

            & img {
                width: 90%;
                height: 60%;
                filter: grayscale(1);
                object-fit: cover;
                transition: .5s;
            }

            &:hover img{
                 filter: grayscale(0);
            }

            & .info{
                position: relative;
                left: 0;
                background-color: rgba(0, 0, 0, .8);
                color: $primary-color;
                width: 90%;
                padding: 10px;
                opacity: 0;
                bottom: -40px;
                transition: .5s;
            }

            &:hover .info{
                opacity: 1;
                bottom: 0;
            }
        }
    }
}