.portfolioBody {
    background-image: url(../assets/img/developer.webp);
    background-position: cover;

    @include header1200;

    #portfolio {
        @include displayPortfolio;
    
        .titulo-seccion {
            @include tituloPortfolio(2.8rem);
        }
    
        .fila {
            @include filaPortfolio;
    
            .proyecto{
                @include proyectoPortfolio;
    
                img {
                    @include imgPortfolio(90%, 60%);
                }

                &:hover img{
                    filter: grayscale(0);
               }
    
                .info{
                    @include infoPortfolio(90%);
                }

                &:hover .info{
                    opacity: 1;
                    bottom: 0;
                }
            }
        }
    }
}
// SECCION RESPONSIVE
@media (min-width: $mediaMobile-320) {
    .portfolioBody {
        background-image: url(../assets/img/movil/fondo-portfolio-tablet.webp);
        background-position: cover;
    
        @include header320;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(1.6rem);
            }
        
            .fila {
                @include filaPortfolio;
                margin-right: 10px;
                padding-left: 10px;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        margin-right: 0;
                        padding-left: 0;
                        @include imgPortfolio(90%, 40%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(90%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaMobile-375) {
    .portfolioBody {
        background-image: url(../assets/img/movil/fondo-portfolio-tablet.webp);
        background-position: cover;
    
        @include header375;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(1.8rem);
            }
        
            .fila {
                @include filaPortfolio;
                margin-right: 10px;
                padding-left: 10px;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        margin-right: 0;
                        padding-left: 0;
                        @include imgPortfolio(90%, 40%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(90%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaTablet-576) {
    .portfolioBody {
        background-image: url(../assets/img/movil/fondo-portfolio-tablet.webp);
        background-position: cover;
    
        @include header576;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(2rem);
            }
        
            .fila {
                @include filaPortfolio;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        @include imgPortfolio(80%, 40%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(80%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaTablet-768) {
    .portfolioBody {
        background-image: url(../assets/img/developer.webp);
        background-position: cover;
    
        @include header768;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(2.2rem);
            }
        
            .fila {
                @include filaPortfolio;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        @include imgPortfolio(90%, 50%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(90%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-992) {
    .portfolioBody {
        background-image: url(../assets/img/developer.webp);
        background-position: cover;
    
        @include header992;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(2.6rem);
            }
        
            .fila {
                @include filaPortfolio;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        @include imgPortfolio(90%, 60%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(90%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-1200) {
    .portfolioBody {
        background-image: url(../assets/img/developer.webp);
        background-position: cover;
    
        @include header1200;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(2.8rem);
            }
        
            .fila {
                @include filaPortfolio;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        @include imgPortfolio(90%, 60%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(90%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-1400) {
    .portfolioBody {
        background-image: url(../assets/img/developer.webp);
        background-position: cover;
    
        @include header1200;
    
        #portfolio {
            @include displayPortfolio;
        
            .titulo-seccion {
                @include tituloPortfolio(3rem);
            }
        
            .fila {
                @include filaPortfolio;
        
                .proyecto{
                    @include proyectoPortfolio;
        
                    img {
                        @include imgPortfolio(90%, 60%);
                    }
    
                    &:hover img{
                        filter: grayscale(0);
                   }
        
                    .info{
                        @include infoPortfolio(90%);
                    }
    
                    &:hover .info{
                        opacity: 1;
                        bottom: 0;
                    }
                }
            }
        }
    }
}