.skillsBody {
    background-image: url(../assets/img/fondo-skills.webp);
    background-position: cover;
    
    @include header1200;

    #skills {
        @include displaySkills;
    
        .skillTitulo {
            @include tituloSkill(2.8rem);
        } 
    
        .lista {
            @include listaSkill(1.8rem);
        }
        
        .porcentaje {
            @include porcentajeSkill(1.8rem);
        }
    
        #skill1 {
            @include skill;
            grid-area: skill1;
        
            .barra {
        
                .barra-progreso1 {
                    @include barraProgreso(80%);
                }
            }
        }
        
        #skill2{
            @include skill;
            grid-area: skill2;
            
            .barra {
        
                .barra-progreso2 {
                    @include barraProgreso(60%);
                }
            }
        }
        
        #skill3 {
            @include skill;
            grid-area: skill3;  
            
            .barra {
        
                .barra-progreso3 {
                    @include barraProgreso(40%);
                }
            }
        }
        
        #skill4 {
            @include skill;
            grid-area: skill4;
    
            .barra {
        
                .barra-progreso4 {
                    @include barraProgreso(10%);
                }
            }
        }
    }
}

@media (min-width: $mediaMobile-320) {
    .skillsBody {
        background-image: url(../assets/img/movil/fondo-skills-movil.webp);
        background-position: cover;
    
        @include header320;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(1.5rem);
            } 
        
            .lista {
                @include listaSkill(1.3rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(1.3rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaMobile-375) {
    .skillsBody {
        background-image: url(../assets/img/movil/fondo-skills-movil.webp);
        background-position: cover;
    
        @include header375;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(1.7rem);
            } 
        
            .lista {
                @include listaSkill(1.3rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(1.3rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaTablet-576) {
    .skillsBody {
        background-image: url(../assets/img/movil/fondo-skills-tablet.webp);
        background-position: cover;
    
        @include header576;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(1.7rem);
            } 
        
            .lista {
                @include listaSkill(1.3rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(1.3rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaTablet-768) {
    .skillsBody {
        background-image: url(../assets/img/movil/fondo-skills-tablet.webp);
        background-position: cover;
    
        @include header768;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(2rem);
            } 
        
            .lista {
                @include listaSkill(1.5rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(1.5rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-992) {
    .skillsBody {
        background-image: url(../assets/img/fondo-skills.webp);
        background-position: cover;
    
        @include header992;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(2rem);
            } 
        
            .lista {
                @include listaSkill(1.5rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(1.5rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-1200) {
    .skillsBody {
        background-image: url(../assets/img/fondo-skills.webp);
        background-position: cover;
    
        @include header1200;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(2.8rem);
            } 
        
            .lista {
                @include listaSkill(1.8rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(1.8rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}
@media (min-width: $mediaDesktop-1400) {
    .skillsBody {
        background-image: url(../assets/img/fondo-skills.webp);
        background-position: cover;
    
        @include header1200;
    
        #skills {
            @include displaySkills;
        
            .skillTitulo {
                @include tituloSkill(3rem);
            } 
        
            .lista {
                @include listaSkill(2rem);
            }
            
            .porcentaje {
                @include porcentajeSkill(2rem);
            }
        
            #skill1 {
                @include skill;
                grid-area: skill1;
            
                .barra {
            
                    .barra-progreso1 {
                        @include barraProgreso(80%);
                    }
                }
            }
            
            #skill2{
                @include skill;
                grid-area: skill2;
                
                .barra {
            
                    .barra-progreso2 {
                        @include barraProgreso(60%);
                    }
                }
            }
            
            #skill3 {
                @include skill;
                grid-area: skill3;  
                
                .barra {
            
                    .barra-progreso3 {
                        @include barraProgreso(40%);
                    }
                }
            }
            
            #skill4 {
                @include skill;
                grid-area: skill4;
        
                .barra {
            
                    .barra-progreso4 {
                        @include barraProgreso(10%);
                    }
                }
            }
        }
    }
}