// COLORES PERSONALIZADOS
$tutti-fruti: #ff5080;
$light-black: #00000075;

$primary-color: $tutti-fruti;
$secondary-color: $light-black;

// BREAKPOINTS
$mediaMobile-320: 320px;
$mediaMobile-375: 375px;
$mediaTablet-576: 576px;
$mediaTablet-768: 768px;
$mediaDesktop-992: 992px;
$mediaDesktop-1200: 1200px;
$mediaDesktop-1400: 1400px;